*{
    box-sizing: border-box;
}

/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: #B1C5AA;
} */

.containerLOGIN{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
}

.form{
    padding: 30px 40px;
}

h2{
    text-align: center;
    margin: 0 0 0 10px;
}

.form-control{
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    display: block;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus{
    outline: none;
}

.form button{
    background: #3498db;
    cursor: pointer;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #3498db;
    display: block;
    padding: 10px;
    font-size: 16px;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
}